{%load static%}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>Activity Tracker{%block title%}{%endblock%}</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat">
    <link href="{%static 'css/bootstrap.min.css'%}" rel="stylesheet" crossorigin="anonymous">
    <link href="{%static 'css/main.css'%}" rel="stylesheet" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-colorschemes"></script>

    <style>
    
    </style>
    <!-- Custom styles for this template -->
    <link href="{%static 'css/dashboard.css'%}" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-dark navbar-fixed-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Activity Tracker</a>

      <ul class="navbar-nav px-2" style='display: flex; flex-direction: row; align-items: center;'>
        <li class="nav-item text-nowrap px-3 ">
          <a href="" class="nav-link ">{{request.user.username}}</a>
            
        </li>

        <li class="nav-item text-nowrap ">
          <form action="{% url 'logout'%}" method="POST">
            {% csrf_token %}
            <input class="text mt-2 ml-2 btn btn-sm btn-dark" style='padding-top: 0.1rem;
            padding-right: 0.5rem;
            padding-bottom: 0.1rem;
            padding-left: 0.5rem;'id='signOut' type="submit" value="Sign Out">
          </form>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
          <div class="row">
            
            {%include 'partials/_sidebar.html'%}

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            {%block content%}


            {%endblock%}
            </main>
          </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script>window.jQuery || document.write('<script src="/docs/4.4/assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>

    <script src="{% static 'js/main.js'%}"></script>
   </body>
</html>
